
    #headerwrap {
	    background: url(../img/press_bg.jpg) no-repeat center top;
	    margin-top: -50px;
	    padding:300px 0 200px 0;
	    text-align:center;
	    background-attachment: relative;
	    background-position: center center;
	    min-height: 650px;
	    width: 100%;
	
        -webkit-background-size: 100%;
           -moz-background-size: 100%;
             -o-background-size: 100%;
                background-size: 100%;

        -webkit-background-size: cover;
           -moz-background-size: cover;
             -o-background-size: cover;
                background-size: cover;
    }
    
    .dropdown-menu {
        border-color: transparent;
        background-color: #101010;
        color: #9d9d9d;
        font-size: 16px;
        font-family: 'Lato';
    }
    
    .dropdown-menu > li  > a {
        color: #9d9d9d;
    }
    
    .dropdown-menu > .active  > a {
        background-color: #101010;
    }
    
    .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
	    background-color: transparent;
	    color: white;
    }

/* Section Dividers Backgrounds */

    .template {
    	background-image: url('../img/press/templatePress.jpg')
    }

    .september {
    	background-image: url('../img/press/september.jpg')
    }

    .october {
    	background-image: url('../img/press/october.jpg');
    	margin-top: 0px;
    }

    .november {
    	background-image: url('../img/press/november.jpg')
    }

    .december {
    	background-image: url('../img/press/december.jpg')
    }

    .january {
    	background-image: url('../img/press/january.jpg')
    }

    .february {
    	background-image: url('../img/press/february.jpg')
    }

    .march {
    	background-image: url('../img/press/march.jpg')
    }

    .april {
    	background-image: url('../img/press/april.jpg')
    }

    .may {
    	background-image: url('../img/press/may.jpg')
    }

    .june {
    	background-image: url('../img/press/june.jpg')
    }

    /* Extra small devices (phones, less than 768px) */
    /* No media query since this is the default in Bootstrap */

    /* Small devices (tablets, 768px and up) */
    @media screen and (min-width: 768px),screen and (max-width:900px) {
        .msbinobi_img {
            width:100px;
            height: auto;
        }
    }

    /* Medium devices (desktops, 992px and up) */
    @media screen and (min-width: 992px), screen and (max-width:1200px) {
        .msbinobi_img {
            width:140px;
            height: auto;
        }
    }

    /* Large devices (large desktops, 1200px and up) */
    @media screen and (min-width: 1200px) {
        .msbinobi_img {
            width:230px;
            height: auto;
        }

    }

